<!DOCTYPE html>
<html>
  <head>
    <title>Currency Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
<p></p>
    <span><button class="button"><a href="/">HOME</a></button></span>
    <span><button class="button"><a href="/about/">ABOUT</a></button></span>
  </body>
</html>
