<!DOCTYPE html>
<html>
  <head>
    <title>Currency Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
<p>
    <button class="button"><a href="/">HOME</a> <a href="/about"></a></button>
  </body>
</html>
