<!DOCTYPE html>
<html>
  <head>
    <title>Currency Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <a href="/">Home</a> <a href="/about"></a>
  </body>
</html>
