body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: pink;
  font: 10px "Tahoma";

  background-image: url('/images/money.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}
